body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font: roboto;
}

.section-one {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  flex: 2;
  justify-content: space-around;
}

.header {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  width: 25vw;
  padding: 10px;
}

.right-link {
  width: 40vw;
  padding: 10px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
  padding: 10px;
}

.hero-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  width: 100vw;
}

.hero {
  display: flex;
  flex-flow: column wrap;
  width: 25vw;
  align-items: flex-start;
}

.hero-main {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero-subtext {
  font-size: 18px;
  color: #E5E7EB;
  width: 30vw;
}

.sign-up {
  background-color: #3882f6;
  color: #E5E7EB;
  font-size: 18px;
  border: #3882f6;
  border-radius: 4px;
  width: 100px;
}

.img-holder {
  width: 40vw;
  flex: stretch;
}

.section-two {
  flex: 1;
}