* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
}

.section-one {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1f2937;
  gap: 50px;
}

.header {
  display: flex;
  justify-content: space-around;

  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  flex: 0 0 30vw;
}

.right-link {
  display: flex;
  gap: 20px;
  flex: 0 0 30vw;


}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  padding-bottom: 100px;
}

.hero-content {
  flex: 0 0 30vw;
  align-self: flex-start;
  display: flex;
  flex-flow: column wrap;
}

.hero-image {
  flex: 0 0 40vw;
  background-color: #6d747d;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
}

.hero-main {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.sign-up {
  color: #E5E7EB;
  background-color: #3882F6;
  border-color: #3882F6;
  width: 100px;
  border-radius: 4px;
}

